body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
}

header, footer {
      background-color: #222;
      color: white;
      padding: 1.5em;
      text-align: center;
}

nav a {
      color: white;
      margin: 0 1em;
      text-decoration: none;
}

section {
      padding: 2em;
      max-width: 900px;
      margin: auto;
}

h2 {
      border-bottom: 2px solid #ddd;
      padding-bottom: 0.3em;
}

.project, .certificate {
      background-color: #f9f9f9;
      margin: 1em 0;
      padding: 1em;
      border-left: 4px solid #444;
}

.project h3, .certificate h3 {
      margin-top: 0;
}

footer p {
      font-size: 0.9em;
      color: #ccc;
}

/* Sections javascript styling */
.toggle-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;
}

.toggle-content.visible {
      max-height: 500px; /* juster afhængigt af indhold */
}

.toggle-btn {
      width: 100%;
      text-align: left;
      padding: 1em;
      background-color: #007acc;
      color: white;
      border: none;
      font-size: 1.2em;
      cursor: pointer;
      margin-top: 1em;
      border-radius: 5px;
      transition: background-color 0.5s ease;
}

.toggle-btn:hover {
      background-color: #00a321;
}

.toggle-btn.active {
      background-color:#00a321;
}

.toggle-section {
      margin-bottom: 1em;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #f9f9f9;
      padding: 0.5em;
}
